        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light ">
            <!-- Container wrapper -->
            
            <a class="navbar-brand mt-2 mt-lg-0 " href="/">
                <img
                    src="/images/navbar/logo-navbar.jpeg"
                   
                    alt="logo e shop"
                    loading="lazy"
                />
                </a>
                
           
            <div class="search-content mx-auto d-md-block d-none">
                <div class="pseudo-search">
                    <input type="text" placeholder="rechercher un produit..." autofocus required>
                    
                    <i class="fa fa-globe places"></i>
                    <button class="fa fa-search" type="submit"></button>
                  </div>
            </div>
            
           

            <div class="d-flex align-items-center navbar-item-contenair" >
             
                <a class="text-reset me-5" href="/cart">Mon panier
                   <span class="d-none d-md-inline" id="panier"> <%= locals.cart.totalQuantity %></span> 
                  <i class="fas fa-shopping-cart"></i>
                </a>
        
                <div class="dropdown">
                <a
                    class="dropdown-toggle d-flex align-items-center hidden-arrow"
                    href="#"
                    id="navbarDropdownMenuAvatar"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                >
                <span class="d-none d-md-block text-dark" >Mon compte</span>
                <i class="fas fa-user mx-1"></i>
                </a>
                <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuAvatar"
                >
                    <li>
                    <a class="dropdown-item" href="/profil">Mon profil</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="/orders">Mes commandes</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="/logout">Deconnexion</a>
                    </li>
                </ul>
                </div>
            </div>
            
            </div>
            
        </nav>

        <div class="mx-auto text-center d-md-none d-block mt-5">
          
          <div class="search-content-hors-nav mx-auto ">
            <div class="pseudo-search">
                <input type="text" placeholder="rechercher un produit..." autofocus required>
                
                <i class="fa fa-globe places"></i>
                <button class="fa fa-search" type="submit"></button>
              </div>
          </div>
        </div>