
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
              <a class="navbar-brand" href="#!">
                <img class="navbar--logo" src="/assets/logoesatic.png" />
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            
                  
            
            <div class="search-content mx-auto d-md-block d-none">
                <div class="pseudo-search">
                    <input type="text" placeholder="rechercher un produit..." autofocus required>
                    
                    <i class="fa fa-globe places"></i>
                    <button class="fa fa-search" type="submit"></button>
                  </div>
            </div>
            
      
              <div class="d-flex align-items-center navbar-item-contenair" >
                   
                <a class="text-reset me-5 navbar--link" href="/">
                   <span class="d-none d-md-inline" >Accueil</span> 
                
                </a>
      
                <a class="text-reset me-5 navbar--link" href="/about">
                  <span class="d-none d-md-inline" >A propos</span> 
               
               </a>
      
               <a class="text-reset me-5 navbar--link" href="/cart">
                <span class="d-none d-md-inline" >Mon panier <i id="panier"> <%= locals.cart.totalQuantity %> </i> </span> 
               <i class="fas fa-shopping-cart"></i>
              </a>
      
              
              <a class="text-reset me-5 navbar--link" href="/pages/connexion.html">
                <span class="d-none d-md-inline" >Connexion</span> 
            
              </a>
      
                <div class="dropdown">
                <a
                    class="dropdown-toggle d-flex align-items-center hidden-arrow navbar--link"
                    href="#"
                    id="navbarDropdownMenuAvatar"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                >
                <span class="d-none d-md-block text-dark" >Mon compte</span>
                
                </a>
                <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuAvatar"
                >
                    
                      <li>
                        <a class="dropdown-item" href="/pages/profil.html">Mon profil</a>
                        </li>
                    <li>
                    <a class="dropdown-item" href="/pages/commandes.html">Mes commandes</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">Mon historique</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">Deconnexion</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
          </nav>